<mat-card id="card">
  <mat-card-title>
    <h1>To-do-list</h1>
  </mat-card-title>
  <div class="title">
  <input matInt type="text" [(ngModel)]="Lista">
  <button id="btn1"  (click)="AdicionarLista()"appStyleBtn >+</button>
  </div>
  <mat-card-content>
    <ul id="lista"  *ngFor="let Itens of ItensLista">
      <li> {{Itens}} </li>
      <button id="btn2" mat-mini-fab color='warn' (click)="RemoverLista(Itens)">X</button>
    </ul>
  </mat-card-content>
  <mat-card-footer id="ft">
    <h6>vc tem {{ItensLista.length}} listas ativadas</h6>
    <button mat-mini-fab id="btn3" (click)="Clear()"appStyleBtn>Clear</button>
  </mat-card-footer>
</mat-card>

        
       
      
      
      
        
  

    
    
      
      
    
    
    
  
