#card{
    height: 350px;
    width: 350px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 12px;
    overflow: auto;
    

}


h1{
    text-align: center;
}
#lista{
    border: 6px solid black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
#btn2{
    float: right;
    width: 30px;
    
    
}
.title{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    


}
input{
    padding:0 70px 0 70px ;
}
#ft{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
    
}
h6{
    font-size: 20px;
    
}